
<div class="jumbotron">
<div class="container">
	  <h1>Cambia el modo de Administrar!</h1>
	  <p>...</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">
	  <span class= "glyphicon glyphicon-tower" style="font-size:20px; color:purple"></span> 
	  Leer mas
	  </a>
	  </p>
  </div>
</div>
<div class="container">
	<div class="row">
		  <div class="col-md-4">
		  <span class="glyphicon glyphicon-phone" style="font-size:150px; color: purple"></span>
		  <h1>Factura desde tu Smartphone</h1>	
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae perferendis debitis quisquam odio id ex amet ipsa, quas, minus rem facilis, placeat veritatis voluptate nulla a et consectetur, incidunt quidem.</p>
		</div>
		  <div class="col-md-4">
		  <span class="glyphicon glyphicon-floppy-disk" style="font-size:150px; color: purple"></span>
		  <h1>Tus DTE guardados por siempres</h1>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque facilis qui consequuntur natus officia doloribus rem pariatur, temporibus ratione, odio perferendis autem incidunt recusandae nam aut suscipit odit sequi, hic?</p>
		  </div>
		  <div class="col-md-4">
		  <span class="glyphicon glyphicon-tree-deciduous" style="font-size:150px; color: purple"></span>
		  <h1>Olvidate del Papel </h1>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis iure cumque veniam necessitatibus minus ducimus ipsam, eius, consectetur. Architecto, consectetur id optio, laboriosam fugiat error adipisci non minus ea reprehenderit.</p>
		  </div>
	  </div>
</div>
</div>
